/* Styles généraux */
.image_header {
  width: 10%;
  position: absolute;
  top: 5px;
  display: flex;
  left: 15px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 30px auto;
  max-width: 1800px;
  gap: 20px;
  flex-wrap: nowrap;
  position: relative;
}

/* Style des boutons */
.btnNav {
  font-size: 30px;
  font-weight: 900;
  width: auto;
  margin-top: 60px;
  text-align: center;
}

/* Les boutons de la deuxième ligne (pour les petits écrans seulement) */
.btnNav:nth-of-type(4),
.btnNav:nth-of-type(5) {
  width: auto;
  margin-left: 0;
}

/* Styles pour les liens avec animation */
a {
  color: rgb(143, 168, 218);
  text-decoration: none;
  position: relative;
  letter-spacing: 0;
}

a:hover {
  color: rgb(28, 52, 100);
  transition: color 0.3s, transform 0.3s;
  transform: scale(0.9);
  font-weight: bold;
}

/* Media Query pour Tablette (jusqu'à 768px de largeur) */
@media (max-width: 768px) {
  .image_header {
    width: 15%;
    left: 10px;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  nav {
    flex-direction: row;
    gap: 10px;

  }

  .btnNav {
    font-size: 23px;
    width: calc(100% - 40px);
    margin-top: 120px;
  }

  .btnNav:nth-of-type(4),
  .btnNav:nth-of-type(5) {
    width: calc(50% - 15px);
    margin-left: 0;
  }
}

/* Media Query pour Téléphone (jusqu'à 480px de largeur) */
@media (max-width: 480px) {
  .image_header {
    width: 25%;
    left: 5px;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  nav {
    flex-direction: column;
    gap: 10px;
  }

  .btnNav {
    font-size: 25px;
    width: calc(50% - 10px);
    margin-top: 15px;
  }

  .btnNav:nth-of-type(4),
  .btnNav:nth-of-type(5) {
    width: calc(50% - 10px);
    margin-left: 0;
  }
}
