
.image_header {
  width: 10%;
  position: absolute;
  top: 5px;
  display: flex;
  left: 15px;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 30px auto;
  max-width: 1800px;
  gap: 50px;
}

.btnNav {
  font-size: 30px;
  font-weight: 900;
  margin-top: 60px;
}


a {
  color: rgb(28, 52, 100);
  text-decoration: none;
  position: relative;
  letter-spacing: 0;
}


.animatedLink {
  transition: letter-spacing 280ms ease-in-out;
}

.animatedLink:hover,
.animatedLink:active {
  letter-spacing: 5px;
}


.animatedLink:after,
.animatedLink:before {
  backface-visibility: hidden;
  border: 1px solid rgb(251, 252, 255);
  bottom: 0;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.animatedLink:hover:after,
.animatedLink:hover:before {
  backface-visibility: hidden;
  border-color: rgb(28, 52, 100);
  transition: width 350ms ease-in-out;
  width: 70%;
}

.animatedLink:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
