.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.contact, .rs, .github {
    position: absolute;
    text-align: center;
}

.contact {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.rs {
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.github {
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.contactContainer .contact h1,
.contactContainer .rs h1,
.contactContainer .github h1 {
    margin-bottom: 20px;
}

.contactContainer .icon {
    transition: transform 0.6s ease, color 0.3s ease;
}

.contactContainer .icon:hover {
    transform: scale(1.2) ;
    color: #a21407 !important; 
}
