/* Styles généraux */
.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.H1home {
    text-decoration: none;
}

.H2Home {
    text-decoration: underline;
}

.titleImg {
    width: 350px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 150px;
    margin-top: 60px;
}

.titleHome {
    text-align: left;
    max-width: 1200px;
}

.titleHome h1,
.titleHome p {
    margin: 0;
    margin-top: 200px;
    color: rgb(28, 52, 100);
}

.titleHome h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.titleHome p {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-top: 10px;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    max-width: 1200px;
    position: relative;
}

.aboutSection h2 {
    font-size: 40px;
    position: relative;
    z-index: 1;
    left: 170px;
    margin-top: 150px;
    color: rgb(28, 52, 100);
}

.aboutSection p {
    font-size: 30px;
    line-height: 1.4;
    margin: 0;
    position: relative;
    z-index: 0;
    left: 500px;
    top: 20px;
    margin-bottom: 100px;
    color: rgb(28, 52, 100);
}

.projet {
    margin-top: 20px;
}

/* Media Query pour Tablette (jusqu'à 768px de largeur) */
@media (max-width: 768px) {
    .titleContainer {
        flex-direction: column;
        margin-top: 20px;
        text-align: center;
    }

    .titleImg {
        width: 250px;
        height: 250px;
        margin-right: 0;
        margin-top: 20px;
    }

    .titleHome {
        text-align: center;
    }


    .titleHome h1 {
        font-size: 2rem;
        margin-top: 20px;
    }

    .titleHome p {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .aboutSection {
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .aboutSection h2 {
        font-size: 30px;
        margin-top: 50px;
        left: 0;
        margin-bottom: 50px;
    }

    .aboutSection p {
        font-size: 20px;
        margin: 0;
        left: 0;
        top: 0;
        margin-bottom: 50px;
    }
}

/* Media Query pour Téléphone (jusqu'à 480px de largeur) */
@media (max-width: 480px) {
    .titleContainer {
        margin-top: 10px;
    }

    .titleImg {
        width: 200px;
        height: 200px;
        margin-top: 10px;
    }

    .titleHome h1 {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .titleHome p {
        font-size: 1.2rem;
        margin-top: 5px;
    }

    .aboutSection {
        padding: 5px;
    }

    .aboutSection h2 {
        font-size: 24px;
        margin-top: 30px;
        left: 0;
    }

    .aboutSection p {
        font-size: 16px;
        margin: 0;
        left: 0;
        top: 0;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}