* {
  margin: 0;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inconsolata', monospace; /* Applique la police */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/photo/background.webp');
  background-size: cover;
}

code {
  font-family: 'Inconsolata', monospace;
}

#root {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  display: block;
}

h1 {
  text-decoration: underline;
}